<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">The Midwest Women's Retreat is a 3-day <b>Women’s Health and Healing Retreat</b>, scheduled for <b>Friday, June 28th through Sunday, June 30th</b>.</p>
    <p>Founder Gigi Jones (Gigi The Vegan), Entrepreneur, Certified Health and Wellness Coach and a strong activist on women and children’s health.  Gigi has inspired women all over the world by healing herself from colon cancer through her message of self-love and let thy food be thy medicine.</p>   
    <p>Midwest Women’s Retreat mission: Our mission is to empower women, in various stages of their lives that are seeking professional and personal growth through mental healing, stress reduction, health/wellness and mentoring.</p>
    <p>The goal of this year’s retreat is to offer workshops to women focused on healing by incorporating mind, body, and soul approach.</p>
    <p>Midwest Women’s Retreat supports women in becoming <b>healthy and whole</b>. This support incorporates offering education to women who are seeking to transform their lives.</p>